{% extends "base.html" %}
{% block title %}Blog Posts{% endblock title %}
{% block content %}
<form action="{% url 'search-post' %}" method="get">
	<input name="search" type="text" placeholder="Search">
</form>
{% for post in posts %}

	
	<h2>Title: {{ post.title }}</h2>
	<p>Author: {{ post.author }}</p>
	<p>Author: {{ post.content| truncatewords:10 }}</p>
	<button><a href="{% url 'detail-post' pk=post.id %}">read more..</a></button>

<p>==============================================</p>
{% endfor %}
{% endblock %}